
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>robbin的自言自语</title>
    <meta name="description" content="范凯个人网站，发表个人原创的博客文章和学习笔记，包括互联网产品，研发和运营类的文章">
    <meta name="author" content="Robbin Fan">
    <link href="/rss" rel="alternate" title="robbin的自言自语" type="application/rss+xml" />
    <link href="/skins/default/document.css?1361511736" media="screen" rel="stylesheet" type="text/css" />
<link href="/skins/default/content.css?1362575573" media="screen" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <div id="flash-notice"></div>
    <div class="header">
      <div class="wrap">
      	<div class="user_img"><img src="/skins/data/100.png" width="80" height="80" alt="website icon"></div>
        <div class="blog_title">robbin的自言自语</div>
        <div class="write">
          <a href="/login">登录</a>        </div>
        <div class="blog_motto">Small is beautiful, constraint is liberty.</div>
      </div>
    </div><!-- header -->
    
    <div class="nav">
      <div class="wrap clearfix">
      	<div class="search fr">
          <form action="/search" id="cse-search-box" method="get">
            <input type="hidden" name="cx" value="007540752216561218107:cgbwg20yn_o" />
            <input type="hidden" name="cof" value="FORID:10" />
            <input type="hidden" name="ie" value="UTF-8" />
            <input id="search-box" name="q" type="text" placeholder="Search" value="">
            <button id="search-button"></button>
          </form>
        </div>
        <ul>
          <li><a href="/" class='current'>首页</a></li>
          <li><a href="/blog" >博客</a></li>
          <li><a href="/note" >笔记</a></li>
          <li><a href="/tag" >分类</a></li>
          <li><a href="/weibo" >微博</a></li>
          <li><a href="http://robbinfan.com/blog/28/about-robbin" >关于</a></li>
        </ul>
      </div>
    </div><!-- nav -->
    
    <div class="wrap clearfix">
      
<div class="left">
  
<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/38/orm-cache-sumup">Web应用的缓存设计模式</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/ruby"><span>ruby</span></a>
		</div>
    ## ORM缓存引言

从10年前的2003年开始，在Web应用领域，ORM(对象-关系映射)框架就开始逐渐普及，并且流行开来，其中最广为人知的就是Java的开源ORM框架Hibernate，后来Hibernate也成为了EJB3的实现框架；2005年以后，ORM开始普及到其他编程语言领域，其中最有名气的是Ruby on rails框架的ORM － ActiveRecord。如今各种开源框架的ORM，乃至ODM(对象-文档关系映射，用在访问NoSQLDB)层出不穷，功能都十分强大，也很普及。

然而围绕ORM的性能问题，也一直有很多批评的声音。其实ORM的架构对插入缓存技术是非常...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-03-07发表</span>
      <span class="edit">2013-03-07更新</span>
      <span class="views" title="浏览次数">15954次浏览</span>
      <a class="comment" title="评论" href="/blog/38/orm-cache-sumup#comments">33</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/37/textmate-keyboard-shortcut">textmate常用快捷键备忘</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/tech"><span>tech</span></a>
		</div>
    ## 视图切换


	Ctrl + Option + Cmd + D     # 显示/隐藏左边文件导航树
	Cmd + Option + W            # 切换代码折行
	Cmd + Option + -&gt;           # 切换左右Tab页
	Cmd + Option + &lt;-
	Cmd + Shift + {             # 切换左右Tab页
	Cmd + Shift + }

## 目录树视图

	Ctrl + Cmd + R              # 跳转到当前打开文件所在的目录树的位置
	Cmd + Up/Down ...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-03-07发表</span>
      <span class="edit">2013-03-07更新</span>
      <span class="views" title="浏览次数">800次浏览</span>
      <a class="comment" title="评论" href="/blog/37/textmate-keyboard-shortcut#comments">0</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/36/big-company-creative">大公司的创新思考：基因延伸性创新</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/industry"><span>industry</span></a>
		</div>
    Scott D.Anthony的《[THE NEW CORPORATE GARAGE](http://hbr.org/2012/09/the-new-corporate-garage/ar/1)》提出了一个有趣的观点，我们正在进入一个新的创新时代：随着创新成本和创新门槛的不断降低，大公司在创新竞争力方面的劣势变少了，那些在大公司内部具有创业意识的“创新催化剂”能够利用大公司的资源、规模和品牌做出重大的产品和商业创新。而这种类型的创新是VC投资的小型创业公司没有条件实现的，大公司的规模不再成为创新的阻碍，而是创新的基石。Scott举了4个行业的大公司创新案例：医疗器械行业的美敦力，快速消费...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-03-04发表</span>
      <span class="edit">2013-03-06更新</span>
      <span class="views" title="浏览次数">6558次浏览</span>
      <a class="comment" title="评论" href="/blog/36/big-company-creative#comments">8</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/35/rmate-config">用textmate修改服务器上的文件</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/tech"><span>tech</span></a>
		</div>
    1. 在textmate的 Preferences | Terminal 里面 check &quot;Accept rmate connections&quot;
2. 点击rmate link，将rmate文件内容复制下来，在服务器上创建rmate命令：

        vi /usr/local/bin/rmate
        chmod a+x /usr/local/bin/rmate
    
3. 修改服务器的环境变量

        RMATE_HOST=127.0.0.1
        export RMATE_HOST=127.0.0.1

4. 打开tex...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-03-04发表</span>
      <span class="edit">2013-03-04更新</span>
      <span class="views" title="浏览次数">575次浏览</span>
      <a class="comment" title="评论" href="/blog/35/rmate-config#comments">0</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/34/git-common-command">Git常用命令备忘</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/tech"><span>tech</span></a>
		</div>
    ## Git配置
    git config --global user.name &quot;robbin&quot;   
    git config --global user.email &quot;fankai@gmail.com&quot;
    git config --global color.ui true
    git config --global alias.co checkout
    git config --global alias.ci commit
    git config --global alias.st status
    git config --glob...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-28发表</span>
      <span class="edit">2013-02-28更新</span>
      <span class="views" title="浏览次数">3052次浏览</span>
      <a class="comment" title="评论" href="/blog/34/git-common-command#comments">10</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/33/activerecord-object-cache">ActiveRecord对象缓存配置</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/ruby"><span>ruby</span></a>
		</div>
    ## second_level_cache的使用

在Gemfile里面添加：

	gem &quot;second_level_cache&quot;, :git =&gt; &quot;git://github.com/csdn-dev/second_level_cache.git&quot;

使用非常简单：

	class User &lt; ActiveRecord::Base
	  acts_as_cached
	end

完整设置：

	class User &lt; ActiveRecord::Base
	  acts_as_cached(:version =&gt; 1, :expires_in =&gt; ...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-28发表</span>
      <span class="edit">2013-02-28更新</span>
      <span class="views" title="浏览次数">868次浏览</span>
      <a class="comment" title="评论" href="/blog/33/activerecord-object-cache#comments">0</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/32/github-history">GitHub 是怎么火起来的</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/industry"><span>industry</span></a>
		</div>
    Github不是突然火起来的，在Ruby社区Github其实从一开始就很流行，我们2009年搞Ruby大会就邀请了Github的人来上海了，早在2009年Github在国内的Ruby社区就很有名气了。之所以今天大家突然觉得Github火，只不过是因为刚拿到1亿美元融资的眼球效应罢了。

Github是一个从Ruby社区诞生出来的项目，这几年我也算是看着Github发展起来的，可以说Git在Ruby社区普及和爆发几乎是必然的事情。Git虽然是Linux内核社区开发出来的，但前几年一直不温不火。真正在开源社区普及和爆发，是从Ruby社区和Github开始的。

Rails是一个高度集...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-26发表</span>
      <span class="edit">2013-02-26更新</span>
      <span class="views" title="浏览次数">2089次浏览</span>
      <a class="comment" title="评论" href="/blog/32/github-history#comments">2</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/31/why-love-shanghai">我为何喜欢上海不喜欢北京</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/life"><span>life</span></a>
		</div>
    我大学在天津读书，姐姐家就在北京，常来常往，对北京很熟悉。大学毕业的时候选择去了陌生的南方城市上海，而不是非常熟悉的北京，这一点令身边的亲戚都大惑不解。一转眼在上海落户生活了十来年，现在却又因为工作原因来到北京。我可以这么说：我越在北京住，碰到的事情越多，越证明我当年选择去上海的决定是多么的英明。

## 我更喜欢上海的人文环境

我大学毕业的时候选择去上海，而不是北京，是因为觉得自己和南方人更相处的来：大学的时候，我一直不太习惯很多北方同学称兄道弟没有距离感的热络劲，好像不称兄道弟不酒酣耳热，你就看不起他一样，我不认同这种虚伪的社交方式，也很不喜欢在那种闹哄哄的氛围下被裹挟的感...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-26发表</span>
      <span class="edit">2013-02-26更新</span>
      <span class="views" title="浏览次数">5795次浏览</span>
      <a class="comment" title="评论" href="/blog/31/why-love-shanghai#comments">22</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/30/lose-weight-experience">说说我的减肥心得</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/life"><span>life</span></a>
		</div>
    三年前，我刚从上海到北京工作，半年减肥将近30斤，从201年3月份的84公斤，减到了2010年9月份的70公斤，6个月减了14公斤（我的身高是174cm），身体状态也感觉很好。之后三年松懈了，慢慢体重又上升到了79公斤，最近下定决心，重新开始减肥旅程，看看半年之后我能不能减肥到70公斤以下。下面是我三年前减肥的总结经验，重新开始执行起来！

## 养成不吃晚餐的良好习惯 

我从3月份开始不吃晚饭。貌似听起来很吓人，其实不然。很多白领都不吃早餐，吃中晚两餐。而我则是吃早中两餐，早餐还吃得很饱，所以每天进食量并不比一般人少。 

晚上饿了怎么办？ 一开始有点饿，但是习惯就好了，...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-25发表</span>
      <span class="edit">2013-02-25更新</span>
      <span class="views" title="浏览次数">1860次浏览</span>
      <a class="comment" title="评论" href="/blog/30/lose-weight-experience#comments">3</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/29/my-new-website">新的个人网站开张 robbinfan.com</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
		</div>
    在这个很二的2月22日，我的个人网站 [robbinfan.com](http://robbinfan.com) 正式上线开张。网站源代码是开源的，MIT License，托管在Github上：[robbin_site](https://github.com/robbin/robbin_site) 

我的个人网站文章分成了两类：一类是传统意义上的博客文章，记录人生成长历程上的所思所想；另一类是学习笔记，发布个人总结性的产品类学习笔记，技术类文档，我个人觉得有价值收藏下来的文章。学习笔记类的文章都是按照最近内容更新排序的，类似Evernote的默认排序，我准备今后多写一些互联网产品设...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-22发表</span>
      <span class="edit">2013-02-22更新</span>
      <span class="views" title="浏览次数">3972次浏览</span>
      <a class="comment" title="评论" href="/blog/29/my-new-website#comments">40</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/28/about-robbin">范凯的自我介绍</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/life"><span>life</span></a>
		</div>
    ![robbin](http://robbinfan.com/uploads/attachment/file/11/robbin.jpg)

## 范凯

网名robbin, 现任CSDN CTO，曾经的JavaEye网站创始人。

## 格言

信仰互联网，爱好产品，爱好技术，爱好创业，Entrepreneur nerd。

## 愿望

用成功的互联网创新产品影响和改善人们的生活，让自己的人生留下点值得自豪的印记。

## 擅长

* 互联网产品设计，特别是社区型产品设计
* 互联网产品运营，特别是社区型产品运营
* 软件架构设计和编程，特别是基于...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2013-02-22发表</span>
      <span class="edit">2013-02-22更新</span>
      <span class="views" title="浏览次数">6152次浏览</span>
      <a class="comment" title="评论" href="/blog/28/about-robbin#comments">14</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/27/lean-startup">精益创业指导创新产品开发</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/entrepreneur"><span>entrepreneur</span></a>
		</div>
    创业是在极端不确定情况下开发新产品或者新服务。在创业早期，谁是客户，客户认为什么东西有价值都是未知的。  

精益创业总结起来就是用3个动词驱动3个名词的循环迭代过程：IPD -&gt; BML ，即：

	idea -&gt; (build) -&gt; product -&gt; (measure) -&gt; data -&gt; (learn)

建立`validated learning`，然后推动下一轮迭代。精益之于创业，等同敏捷之于开发，都强调快速迭代，小步前进，测试(测量)驱动。每次精益产品循环的一个过程都是从`未经证实的假设 -&gt; 经证实的认知`。 

## 精益迭代 (Build -&gt; ...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-12-10发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">3177次浏览</span>
      <a class="comment" title="评论" href="/blog/27/lean-startup#comments">3</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/26/our-opensource">晒晒我们的开源项目</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
		</div>
    我们的研发团队是一支mini型研发团队，目前共有研发人员13人。由于网站产品维护的历史原因，这13人的研发团队分为4支小组，分别是：Ruby研发小组5人；PHP研发小组4人；.net研发小组2人，Java搜索小组2人。 

别看我们研发人员这么少，但是我们研发人员战斗力很强，我们维护和开发着十多条产品线。在我们开发自身产品的过程中，也积累了一些比较通用的组件，一些对大家来说有用的工具。因此从今年下半年开始，我们陆续将一些组件和工具开源出来，哪怕这些项目的质量并不是那么高，也希望能够给社区带来一点点自己的贡献。 

以下简要介绍一下我们已经开源的项目，今后我们还会努力开源更多的东西...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-09-23发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">3122次浏览</span>
      <a class="comment" title="评论" href="/blog/26/our-opensource#comments">3</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/25/webobject">WebObjects的来龙去脉</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/industry"><span>industry</span></a>
		</div>
    WebObjects是乔布斯Next时期搞出来用来做Web开发的纯面向对象的框架，比SUN后来搞的J2EE先进很多，事实上从2002开始Java开源运动颠覆J2EE搞MVC，搞ORMapping，搞工作流什么的，最终这些东西在WebObjects当中都实现了，而且自成体系。 

多说一句，WebObjects是1995年搞出来的，SUN的J2EE大概是1998年搞出来的，很可能借鉴了WebObjects，但是借鉴的不成功。当时Oracle也搞了一个ORMapping框架，名字忘记了，据说也是受WebObjects影响。 

那为什么WebObjects没有流行？我估计是因为Nex...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-06-08发表</span>
      <span class="edit">2013-02-27更新</span>
      <span class="views" title="浏览次数">1346次浏览</span>
      <a class="comment" title="评论" href="/blog/25/webobject#comments">1</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/24/creative-in-big-company">大公司的创新思考：体制内创新的困境</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/industry"><span>industry</span></a>
		</div>
    前Google资深工程师，IT畅销书《浪潮之巅》的作者吴军历数了IT行业公司的兴衰发展史，提出了一个令人印象深刻的“基因决定论”，即由于公司基因的影响，当一家大公司想要转型占领新的领域，做出颠覆性创新产品的时候，往往会败得很惨，例如：摩托罗拉，诺基亚，英特尔，微软，尽管在所在的行业占据了无可争议的垄断地位，但是当时代发生变化，行业发生转型以后，都不同程度的衰落了，大公司体制内创新的困境已经成为常态。杰克韦尔奇在谈到这个问题的时候，曾经说过：“管理一条产值为5万美元的新生产线的第一年，要比管理一个销售额为5亿美元的企业的第20年更为困难”。他在《Winning》这本书里面具体提到3条原因：...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-05-07发表</span>
      <span class="edit">2013-03-06更新</span>
      <span class="views" title="浏览次数">1740次浏览</span>
      <a class="comment" title="评论" href="/blog/24/creative-in-big-company#comments">1</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/23/honest-strength">robbin谈管理：坦诚的力量</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/management"><span>management</span></a>
		</div>
    作为一个领导，带领一支团队，我觉得最重要的是领导本人必须做到坦诚的态度，只有对团队坦诚，才能和团队之间形成信任，只有和团队形成了信任，才能成为一支默契的团队。因此坦诚的性格是管理者最基本的要求，坦诚的氛围也是对团队最基本的要求。 

杰克韦尔奇说过：什么是信任？当一个领导真诚、坦率、言出必行的时候，信任就出现了，事情就是这么简单。为什么坦诚精神能行得通？很简单，因为坦诚有化繁为简的力量！ 

我从艺龙CEO崔广福的微博上也摘录了关于坦诚的观点： 

&gt;我个人完全认同韦尔奇的观点，并一直践行坦诚，朋友们，我可以告诉你坦诚使我的人际关系更简单更高效，使我自己更有效，使企业运转更快...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-04-19发表</span>
      <span class="edit">2013-02-27更新</span>
      <span class="views" title="浏览次数">1544次浏览</span>
      <a class="comment" title="评论" href="/blog/23/honest-strength#comments">2</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/22/my-favorite-ceo">robbin谈管理：我敬佩的3位CEO管理者</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/management"><span>management</span></a>
		</div>
    ## 我敬佩的第一位CEO管理者是GE前任CEO杰克韦尔奇

GE在韦尔奇任内20年实现了每年30%的高速增长，市值曾经达到全球第2，是全球最著名的CEO楷模。韦尔奇写的两本书：一本自传，一本Winning我读了很多遍，我觉得最有意思的反差是，尽管韦尔奇整个职业生涯都在GE渡过，出身于GE这样一个庞然大物，但韦尔奇是个非常不循规蹈矩，处处打破常规，雷厉风行的管理者。我从韦尔奇的书中学到了很多宝贵的管理知识，当然韦尔奇早已经成为显学，没必要多费口舌，所以只想提几点自己的感想：

### 雷厉风行

韦尔奇任内做了上千次公司并购和分拆，在韦尔奇自传当中看到很多次大型并购，韦尔奇的...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-04-17发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">1083次浏览</span>
      <a class="comment" title="评论" href="/blog/22/my-favorite-ceo#comments">0</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='note_icon' title='学习笔记'></span>
    <a href="/blog/21/build-team-experience">robbin谈管理：改造团队的经验</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/management"><span>management</span></a>
		</div>
    一般来说新官上任三把火，新的高管空降之后往往会大肆招人，快速推进改革。但我在入职之前就考虑过这个问题，以为宜缓不宜急，理由如下：

1、做为空降高管，在公司没有任何根基，亦没有做出任何成绩来证明自己，这个时候领导的信任和授权是有限度的。一旦初战不利，领导的信任度被透支，在公司恐怕难有立足之地，更遑论改造团队，发挥自己的才能了。

2、我早年做过很多软件咨询项目，给很多公司讲过敏捷开发、领域模型、面向对象建模和ORM。但我能够得到这些公司的信任，却并非因为讲这些时髦的内容，而是因为擅长解决各类技术上的疑难杂症，可以扮演一个救火队长的角色，对客户公司的问题基本做到手到病除。当一个公司...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-04-04发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">1193次浏览</span>
      <a class="comment" title="评论" href="/blog/21/build-team-experience#comments">4</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/20/my-life">robbin的自白：You&#x27;ve got to find what you love</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/life"><span>life</span></a>
		</div>
    《You&#x27;ve got to find what you love》是乔布斯2005年在斯坦福大学毕业典礼上的演讲，当我第一次看到这个演讲视频的时候，被彻底震住了。回顾自己跌跌撞撞的人生道路，就是一个不断寻找然后坚持自己钟爱事业的过程。我今年36岁了，龙年是我的本命年，作为一个白羊座属龙的人，天生性格就是积极进取，具有开拓精神，但我经常遗憾自己从来没能取得自己希望的成就，曾经在人生的道路上迷失和浪费了太多年。 

去年底我和一个高中同学网上闲聊，他推荐我看一部电影《那些年我们一起追的女孩》，说找回了高中时代的感觉。我们就读的学校是东风汽车公司第一中学，高中三年在我们很多同学心里都有无...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2012-03-26发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">2408次浏览</span>
      <a class="comment" title="评论" href="/blog/20/my-life#comments">7</a>
    </div>
  </div>
</div>

<div class="con">
	<div class="tit clearfix">
    <span class='blog_icon' title='博客文章'></span>
    <a href="/blog/19/first-year-in-csdn">我来CSDN这一年</a>
  </div>
  <div class="text">
		<div class="infor_tag">    
			<a class="tag" rel="tag" href="/tag/management"><span>management</span></a>
		</div>
    从ITeye(JavaEye)被CSDN收购，我从上海搬家到北京上班，眨眼之间已经过去了一年多。回顾过去这一年，生活环境发生了巨大改变，工作的职责和角色也重新定位，面临了一些新的困难和挑战。总体来说，感觉自己这一年过得很充实，很有成就感，在公司的大力支持下，计划做并且花了时间和精力努力的事情基本都做成了，如果要给自己打分的话，我会打80分。那剩下的20分代表本计划去做却没有时间或者精力做的事情。希望在未来的一年，可以把我剩下的20分也做好。 

## 2010年3月 - 2010年8月 

2010年3月底我到CSDN报道，接手了公司研发部门和产品运营部门，负责CSDN(包括IT...
  </div>
  <div class="info clearfix">
    <div class="fr">
			<span class="author">robbin</span>
      <span class="time">2011-07-31发表</span>
      <span class="edit">2013-02-20更新</span>
      <span class="views" title="浏览次数">3745次浏览</span>
      <a class="comment" title="评论" href="/blog/19/first-year-in-csdn#comments">0</a>
    </div>
  </div>
</div>
  <div>
    <div class="pagination"><span class="previous_page disabled">前一页</span> <em class="current">1</em> <a rel="next" href="/?page=2">2</a> <a class="next_page" rel="next" href="/?page=2">后一页</a></div>
  </div>
</div><!-- left content -->

<div class="right">
  
<h3>文章分类</h3>
<div class="tag">
  <a href="/tag/ruby">ruby<span>7</span></a>
  <a href="/tag/industry">industry<span>7</span></a>
  <a href="/tag/life">life<span>5</span></a>
  <a href="/tag/product">product<span>4</span></a>
  <a href="/tag/management">management<span>4</span></a>
  <a href="/tag/entrepreneur">entrepreneur<span>3</span></a>
  <a href="/tag/linux">linux<span>3</span></a>
  <a href="/tag/tech">tech<span>3</span></a>
</div>
  
<h3>热门文章</h3>
<div class="hot_blog">
  <a href="/blog/29/my-new-website">新的个人网站开张 robbinfan.com</a>
  <a href="/blog/38/orm-cache-sumup">Web应用的缓存设计模式</a>
  <a href="/blog/31/why-love-shanghai">我为何喜欢上海不喜欢北京</a>
  <a href="/blog/28/about-robbin">范凯的自我介绍</a>
  <a href="/blog/34/git-common-command">Git常用命令备忘</a>
</div>

<h3>最新评论</h3>
<ul class="comment">
	<li>
    <div>备案只是防范手段，我怕个人站点被墙。

可以换成redis，[ActiveRecord对象缓存配置](http://robbinfan.com/blog/33/activerecord-ob......</div>
  	robbin评论了<a href="/blog/29/my-new-website#comments">新的个人网站开张 robbinfan.com</a>
  </li>
	<li>
    <div>n+1在缓存模式下是否更高效，还是得看具体的SQL和数据库。比如Oracle内部已经有非常完善的cache机制，看起来有很多join的一条SQL也许并不会产生I/O。...</div>
  	靠谱的IT民工评论了<a href="/blog/38/orm-cache-sumup#comments">Web应用的缓存设计模式</a>
  </li>
	<li>
    <div>1. 为什么使用Linode的VPS呢? 已经备案了，放在国内速度会更快一些，而且阿里云更便宜一些，我这边刷页面，大约在170ms左右。全部下载下来，约1秒，另外日本VPS要看时间段，高峰时段慢......</div>
  	程序员01010101010101评论了<a href="/blog/29/my-new-website#comments">新的个人网站开张 robbinfan.com</a>
  </li>
	<li>
    <div>多谢，包括你的个人站点也开源。...</div>
  	程序员01010101010101评论了<a href="/blog/26/our-opensource#comments">晒晒我们的开源项目</a>
  </li>
	<li>
    <div>雪中送炭...</div>
  	fairloong评论了<a href="/blog/21/build-team-experience#comments">robbin谈管理：改造团队的经验</a>
  </li>
</ul>


<div class="rss clearfix">
  <a href="/rss">RSS订阅</a>
</div>

</div><!-- right content -->


    </div><!-- content -->
    
    <div class="footer">
    	<a href="http://weibo.com/robbinfan" class="weibo">Weibo</a>
      <a href="https://github.com/robbin" class="github">Github</a>      
      <a href="mailto:fankai@gmail.com" class="mail">Email</a>
      <div class="certification">
        <span>京ICP备13004925号-1</span><span>京公网安备11010502023235号</span>
      </div>
      <div class="powered-by">
        <a href="http://robbinfan.com" title="robbin的自言自语">Powered by robbin</a>
      </div>
    </div><!-- footer -->
    <script src="/javascripts/jquery.js?1358177164" type="text/javascript"></script>
<script src="/javascripts/jquery-ujs.js?1358177164" type="text/javascript"></script>
<script src="/javascripts/application.js?1361339240" type="text/javascript"></script>
      <script type="text/javascript">
  $(function(){
    $('div.pagination').append(' 共38篇文章');
  });
  </script>

  </body>
</html>